<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yuezi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCC490C41CF6911800F6A942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC490E31CF6911800F6A942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC490EE1CF6911800F6A942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
