<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>1</integer>
		<key>name</key>
		<string>四神猪肝粥</string>
		<key>image</key>
		<string>1.png</string>
		<key>desc</key>
		<string>补充产妇所需的养分，亦可补气，利水及伤口不易发炎的作用.</string>
		<key>cookMethod</key>
		<string>
1.将药材洗净，滤干泡入月子水8小时备用
2.山药切丁准用
3.猪肝切丁，川烫后备用
4.将1+2隔水蒸1小时后加入3拌匀，即可食用
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>19</integer>
				<key>amount</key>
				<string>50</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>8</integer>
				<key>amount</key>
				<string>0.6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>14</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>16</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>amount</key>
				<string>50</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
		<key>name</key>
		<string>麻油炒猪肝</string>
		<key>image</key>
		<string>2.png</string>
		<key>desc</key>
		<string>富含维生素A、B2、铁、磷的麻油炒猪肝，有助于产妇将污血排出体外</string>
		<key>cookMethod</key>
		<string>
1．猪肝洗净，切成0.5公分厚度；老姜刷洗干净，连皮一起切成薄片；
2．麻油倒入锅内以大火烧热，放入姜片，改转小火爆至姜片两面均皱起来，且呈褐色，但不能焦黑；
3．转大火，放入猪肝快炒至变色，加入坐月子，水煮开后立即熄火，趁热享用。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>amount</key>
				<string>200</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>30</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>260</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
		<key>name</key>
		<string>山药猪肝</string>
		<key>image</key>
		<string>3.png</string>
		<key>desc</key>
		<string></string>
		<key>cookMethod</key>
		<string>
1．将猪肝切成1公分厚度，洗净备用；
2．将山药切成小块洗净备用；
3．黑麻油入锅大火烧热，放入姜片转小火，爆至褐色但不要焦黑；
4．倒入猪肝转大火炒至猪肝变色，加入山药及月子水一同煮开，转小火炖50分钟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>amount</key>
				<string>150</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>19</integer>
				<key>amount</key>
				<string>50</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>30</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
		<key>name</key>
		<string>四神药膳猪肝</string>
		<key>image</key>
		<string>4.png</string>
		<key>desc</key>
		<string>补充养分，补气，恢复体力。</string>
		<key>cookMethod</key>
		<string>
1．将猪肝切成1公分厚度，洗净备用；
2．黑麻油入锅大火烧热，放入姜片转小火，爆至褐色但不要焦黑；
3．倒入猪肝转大火炒至猪肝变色，放入药包袋及月子水一同煮开，转小火煮45分钟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>26</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>25</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>14</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>16</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>8</integer>
				<key>amount</key>
				<string>0.1</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>amount</key>
				<string>200</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>20</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
		<key>name</key>
		<string>养肝汤</string>
		<key>image</key>
		<string>5.png</string>
		<key>desc</key>
		<string>为了解除剖腹产麻药可能带来的副作用，例如：胀气、掉头发、失眠、记忆力减退、便秘等症状。</string>
		<key>cookMethod</key>
		<string>

1．红枣洗净，以刀划出七条纵纹；
2．放在容器中，用烧开的坐月子水冲下，加盖泡八小时（夏天应放入冰  箱保存）；
3．用蒸器蒸之；
4．等沸腾后再用文火蒸40分钟；
5．将红枣挑起，只取汤。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>20</integer>
				<key>amount</key>
				<string>7</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>280</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
		<key>name</key>
		<string>红豆汤</string>
		<key>image</key>
		<string>6.png</string>
		<key>desc</key>
		<string>强心利尿，消除“水肥体形”；但红豆吃多易胀气，故每日需控制在2碗以内。</string>
		<key>cookMethod</key>
		<string>
1．将红豆用清水洗净后沥干；
2．将红豆放入月子水中，加盖泡5小时；
3．将泡好的红豆连带月子水一起倒入高压锅中煮15分钟左右；
4．熄火，加入适量的黑糖调和即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>amount</key>
				<string>70</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>9</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>450</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>7</integer>
		<key>name</key>
		<string>桂圆糯米粥</string>
		<key>image</key>
		<string>7.png</string>
		<key>desc</key>
		<string>增强肠胃蠕动，防止胃下垂，预防便秘，但糯米不易消化，多吃易生胀气，每天需要控制2碗以内。</string>
		<key>cookMethod</key>
		<string>
1．糯米洗净，与桂圆肉同放入坐月子水中，加盖泡3小时；
2．将糯米粥以大火煮开后，改为小火煮40分钟；
3．熄火后加入适量黑红糖搅拌均匀，即可享用。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>2</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>21</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>9</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>8</integer>
		<key>name</key>
		<string>薏仁饭</string>
		<key>image</key>
		<string>8.png</string>
		<key>desc</key>
		<string>薏仁含丰富淀粉、维生素B1，可消除浮肿，帮助多余的水分排出体外，不必担心尿不出来，还可强化肠胃道机能，增进消化吸收能力。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净，在坐月子水中浸泡三到四小时，以水超过材料1.5公分左右；
2．将浸泡好的材料移入电饭锅内煮熟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>8</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>36</integer>
				<key>amount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>9</integer>
		<key>name</key>
		<string>五谷饭</string>
		<key>image</key>
		<string>9.png</string>
		<key>desc</key>
		<string>1日份
薏仁或燕麦二选1
均衡营养，防止营养不良，还具防癌的功效。</string>
		<key>cookMethod</key>
		<string>

1．将材料洗净，在坐月子水中浸泡三到四小时，以水超过材料1.5公分左右；
2．将浸泡好的材料移入电饭锅内煮熟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>36</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>6</integer>
				<key>amount</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>8</integer>
				<key>amount</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>4</integer>
				<key>amount</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>3</integer>
				<key>amount</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>2</integer>
				<key>amount</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>10</integer>
		<key>name</key>
		<string>糙米饭</string>
		<key>image</key>
		<string>10.png</string>
		<key>desc</key>
		<string>调节和维持体内内分泌平衡，促进代谢，防止肥胖。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净，在坐月子水中浸泡三到四小时，以水超过材料1.5公分左右；
2．将浸泡好的材料移入电饭锅内煮熟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>7</integer>
				<key>amount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>36</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>11</integer>
		<key>name</key>
		<string>黑米饭</string>
		<key>image</key>
		<string>11.png</string>
		<key>desc</key>
		<string>开胃益中,健脾暖肝,明目活血,美颜等。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净，在坐月子水中浸泡三到四小时，以水超过材料1.5公分左右；
2．将浸泡好的材料移入电饭锅内煮熟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>5</integer>
				<key>amount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>36</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>12</integer>
		<key>name</key>
		<string>麻油鱼汤</string>
		<key>image</key>
		<string>12.png</string>
		<key>desc</key>
		<string>补充蛋白质和钙质，鲫鱼、鲢鱼还有促进乳汁分泌的作用。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净；
2．麻油倒入锅内以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
3．放入鱼肉、月子水转大火煮开，转小火，加盖煮5分钟后熄火，即可享用。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>37</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>13</integer>
		<key>name</key>
		<string>当归鱼汤</string>
		<key>image</key>
		<string>13.png</string>
		<key>desc</key>
		<string>活血补血，补充营养。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净；
2．将油倒入锅中大火烧热，转小火，放入老姜爆至褐色，但不要焦黑；
3．加入鱼、坐月子水及当归转大火煮开，加盖转小火煮5分钟熄火即可。
		      
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>37</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>14</integer>
		<key>name</key>
		<string>干贝鱼汤</string>
		<key>image</key>
		<string>14.png</string>
		<key>desc</key>
		<string>滋阴、补肾、调中、下气、利五脏之功效。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净，另将干贝用稍温的水泡发10分钟；
2．麻油倒入锅内以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
3．放入鱼肉、干贝、月子水用大火煮开，转小火，加盖煮5分钟后熄火，即可享用。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>37</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>12</integer>
				<key>amount</key>
				<string>12</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>15</integer>
		<key>name</key>
		<string>枸杞鱼汤</string>
		<key>image</key>
		<string>15.png</string>
		<key>desc</key>
		<string>补充蛋白质，清肝明目。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净；
2．麻油倒入锅内以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
3．放入鱼肉、月子水转大火煮开，转小火加入枸杞，加盖煮5分钟后熄火，即可享用。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>37</integer>
				<key>amount</key>
				<string>120</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>amount</key>
				<string>12</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>350</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>16</integer>
		<key>name</key>
		<string>红菇鱼汤</string>
		<key>image</key>
		<string>16.png</string>
		<key>desc</key>
		<string>增强新陈代谢、帮助消化、减少胆固醇</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净，另将香菇用开水泡发20分钟；
2．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
3．放入鱼肉、香菇、月子水用大火煮开，转小火，加盖煮10分钟
        后熄火，即可享用。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>37</integer>
				<key>amount</key>
				<string>120</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>10</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>350</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>17</integer>
		<key>name</key>
		<string>首乌鱼汤</string>
		<key>image</key>
		<string>17.png</string>
		<key>desc</key>
		<string>补肝，益肾，养血，美颜等。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净；
2．麻油倒入锅内以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
3．放入鱼肉、首乌、枸杞、月子水用大火煮开，转小火，加盖煮5分钟后熄火，即可享用。


		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>37</integer>
				<key>amount</key>
				<string>120</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>amount</key>
				<string>8</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>28</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>350</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>18</integer>
		<key>name</key>
		<string>山药木耳排骨</string>
		<key>image</key>
		<string>18.png</string>
		<key>desc</key>
		<string>润肺补肾，健脑益气。</string>
		<key>cookMethod</key>
		<string>
1．木耳用温水浸泡1小时，以泡软为标准，沥干备用；
2．将山药切成小块洗净备用；
3．黑麻油入锅大火烧热，放入姜片转小火，爆至褐色但不要焦黑；
4．倒入排骨、木耳翻炒20秒，加入山药及月子水一同煮开，转小火炖30分钟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>19</integer>
				<key>amount</key>
				<string>100</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>22</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>38</integer>
				<key>amount</key>
				<string>200</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>350</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>19</integer>
		<key>name</key>
		<string>竹荪莲子猪心（或排骨）</string>
		<key>image</key>
		<string>19.png</string>
		<key>desc</key>
		<string>补脾益肾养心；调节肠胃，帮助改善睡眠。</string>
		<key>cookMethod</key>
		<string>
1．材料洗净，切好沥掉水份备用；
2．莲子放入月子水中加盖泡一小时；
3．麻油以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
4．放入猪心（排骨）转大火炒至猪心变色，加入竹荪、莲子及月子水煮开后转小火煮30分钟，熄火乘热吃。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>13</integer>
				<key>amount</key>
				<string>20</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>14</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>38</integer>
				<key>amount</key>
				<string>200</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>350</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>20</integer>
		<key>name</key>
		<string>膳食排骨</string>
		<key>image</key>
		<string>20.png</string>
		<key>desc</key>
		<string>预防腰酸背痛，补充体力</string>
		<key>cookMethod</key>
		<string>
1．将排骨在开水中汆烫变色后，沥干备用；
2．麻油以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
3．加月子水、排骨、膳食包一同大火煮开，转小火加盖炖煮50分钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>27</integer>
				<key>amount</key>
				<string>8</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>24</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>amount</key>
				<string>12</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>38</integer>
				<key>amount</key>
				<string>200</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>21</integer>
		<key>name</key>
		<string>素炖品</string>
		<key>image</key>
		<string>21.png</string>
		<key>desc</key>
		<string>补充植物蛋白。</string>
		<key>cookMethod</key>
		<string>
1．麻油倒入锅内以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
2．开袋放入素炖品翻炒10秒，加入月子水及枸杞转大火煮开，转小火，加盖煮10分钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>39</integer>
				<key>amount</key>
				<string>1</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>amount</key>
				<string>12</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>30</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>350</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>22</integer>
		<key>name</key>
		<string>麻油炒猪腰</string>
		<key>image</key>
		<string>22.png</string>
		<key>desc</key>
		<string>促进新陈代谢，促进收缩骨盆腔及子宫。</string>
		<key>cookMethod</key>
		<string>
1．将猪腰子洗净后切成两半，把里面的白色尿腺剔出；
2．将清理干净的猪腰子在表面斜切数条裂纹后，切成三公分宽的小片；
3．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
4．转大火，放入猪腰片炒至变色；
5．加入坐月子水煮开，马上熄火，乘热吃。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>40</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>40</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>400</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>23</integer>
		<key>name</key>
		<string>山药腰花</string>
		<key>image</key>
		<string>23.png</string>
		<key>desc</key>
		<string>补肾气，健脾，促进收缩骨盆腔及子宫。</string>
		<key>cookMethod</key>
		<string>
1．将猪腰子洗净后切成两半，把里面白色尿腺剔出，山药切成小段备用；
2．将清理干净的猪腰子在表面斜切数条裂纹后，切成三公分宽的小片；
3．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
4．转大火，放入猪腰片炒至变色；
5．加入坐月子水及山药煮开，转小火，煮45分钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>40</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>19</integer>
				<key>amount</key>
				<string>100</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>3</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>24</integer>
		<key>name</key>
		<string>杜仲腰花</string>
		<key>image</key>
		<string>24.png</string>
		<key>desc</key>
		<string>促进骨盆及子宫收缩；防止腰酸，改善肾虚腰疼、下肢无力、尿频等。</string>
		<key>cookMethod</key>
		<string>
1．将杜仲于月子水中煮开，转文火加盖煮40分钟取汁备用；
2．将清理干净的猪腰子在表面斜切数条裂纹后，切成三公分宽的小片；
3．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
4．转大火，放入猪腰炒至变色；
5．放入1中的汤汁煮开，熄火，乘热吃。


		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>40</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>27</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>25</integer>
		<key>name</key>
		<string>黑木耳腰花</string>
		<key>image</key>
		<string>25.png</string>
		<key>desc</key>
		<string>强身补腰，养颜补血，补充铁质等。</string>
		<key>cookMethod</key>
		<string>
1．黑木耳用温水泡1小时，以泡软为标准，捞出，沥水备用；
2．猪腰剔除尿腺，洗净切好花纹备用；
3．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
4．转大火，放入猪腰炒至变色，放入黑木耳同炒10秒；
5．放入月子水煮开，转文火煮10分钟即可食用。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>40</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>22</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>26</integer>
		<key>name</key>
		<string>药膳腰花</string>
		<key>image</key>
		<string>26.png</string>
		<key>desc</key>
		<string>补肝肾，强筋骨，防止腰酸背疼、关节疼痛、脚软无力等。</string>
		<key>cookMethod</key>
		<string>
1．将猪腰子洗净后切成两半，把里面的白色尿腺剔出；
2．将清理干净的猪腰子在表面斜切数条裂纹后，切成三公分宽的小片；
3．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
4．转大火，放入猪腰片炒至变色；
5．加入坐月子水及药包袋煮开，转小火，煮45分钟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>40</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>27</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>24</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>41</integer>
				<key>amount</key>
				<string>8</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>20</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>300</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>27</integer>
		<key>name</key>
		<string>四神腰花</string>
		<key>image</key>
		<string>27.png</string>
		<key>desc</key>
		<string>补气、利水，促进新陈代谢，帮助入睡等作用。</string>
		<key>cookMethod</key>
		<string>
1．将猪腰子洗净后切成两半，把里面的白色尿腺剔出；
2．将清理干净的猪腰子在表面斜切数条裂纹后，切成三公分宽的小片；
3．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
4．转大火，放入猪腰片炒至变色；
5．加入坐月子水及药包袋煮开，转小火，煮45分钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>40</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>26</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>25</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>14</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>16</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>8</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>20</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>28</integer>
		<key>name</key>
		<string>台湾油饭</string>
		<key>image</key>
		<string>28.png</string>
		<key>desc</key>
		<string>促进肠胃蠕动，防止产后内脏下垂。</string>
		<key>cookMethod</key>
		<string>
1．糯米洗净沥干后，于月子水中泡8小时后捞起沥干，泡过的水备用；
2．将香菇、虾米泡入1中留下的月子水中，泡软后香菇切成粗丝；
3．老姜、五花肉、胡萝卜均切成粗丝；
4．锅子加热后放入4大匙麻油，将老姜、大蒜放下炒成浅褐色具香味；
5．加入虾米、香菇、五花肉及胡萝卜炒至香味出来出来即取出；
6．锅内重新加热，放入三大匙麻油烧热，糯米下锅炒至粘性，加入5中的材料一起炒；
7．将炒好的材料放入蒸锅内，并加入泡过虾米及香菇的月子水，分量需盖过所有材料；
 8．放入蒸笼或电饭锅内，蒸熟即可食用。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>2</integer>
				<key>amount</key>
				<string>0.4</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>10</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>42</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>18</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>43</integer>
				<key>amount</key>
				<string>30</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>44</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>100</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>29</integer>
		<key>name</key>
		<string>归芪猪心</string>
		<key>image</key>
		<string>29.png</string>
		<key>desc</key>
		<string>促进睡眠，养气补血。</string>
		<key>cookMethod</key>
		<string>
1．将当归、黄芪于月子水中煮开，转文火煮40分钟取汁备用；
2．猪心洗净切半公分厚度小片；
3．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
4．转大火，放入猪心炒至变色；
5．放入1中的汤汁煮开，熄火，乘热吃。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>45</integer>
				<key>amount</key>
				<string>200</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>24</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>30</integer>
		<key>name</key>
		<string>胡萝卜排骨</string>
		<key>image</key>
		<string>30.png</string>
		<key>desc</key>
		<string>提高免疫力，增强抵抗力。</string>
		<key>cookMethod</key>
		<string>
1．将排骨在开水中汆烫变色后，沥干备用；
2．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
3．将胡萝卜、排骨放入锅中翻炒10秒钟，加入月子水转大火煮开后转文火炖煮50分钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>38</integer>
				<key>amount</key>
				<string>200</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>42</integer>
				<key>amount</key>
				<string>100</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>3</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>31</integer>
		<key>name</key>
		<string>当归排骨</string>
		<key>image</key>
		<string>31.png</string>
		<key>desc</key>
		<string>提高免疫力，增强抵抗力。</string>
		<key>cookMethod</key>
		<string>
1．将排骨在开水中汆烫变色后，沥干备用；
2．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
3．将胡萝卜、排骨放入锅中翻炒10秒钟，加入月子水转大火煮开后转文火炖煮50分钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>38</integer>
				<key>amount</key>
				<string>180</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>32</integer>
		<key>name</key>
		<string>时令蔬菜</string>
		<key>image</key>
		<string>32.png</string>
		<key>desc</key>
		<string>促进消化，预防便秘。</string>
		<key>cookMethod</key>
		<string>
第二周以红色蔬菜为主，如：胡萝或红苋菜等；
第三周以后只要是温和的蔬菜均可选择，有些菜在烧制时可搭配少许的枸杞。
		      
1．将蔬菜洗净，带皮老姜切成薄片；
2．用适量的麻油及老姜快炒，再加些月子水使之沸腾后煮烂即可食用。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>46</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>33</integer>
		<key>name</key>
		<string>麻油鸡</string>
		<key>image</key>
		<string>33.png</string>
		<key>desc</key>
		<string>滋补营养，恢复体力。</string>
		<key>cookMethod</key>
		<string>
1．鸡肉洗净切成块状，老姜洗净切成薄片；
2．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
3．转大火，放入鸡块炒至鸡肉约七分熟；
4．将月子水由锅子四周往中间淋入，加盖煮滚后，转小火煮30至40分
         钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>47</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>7</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>450</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>34</integer>
		<key>name</key>
		<string>药膳炖鸡</string>
		<key>image</key>
		<string>34.png</string>
		<key>desc</key>
		<string>补充体力、补气、补血、补禁锢。</string>
		<key>cookMethod</key>
		<string>
1．将药膳包于月子水中煮开，转文火煮25分钟取汁备用；
2．鸡肉洗净切成块状，老姜洗净切成薄片；
3．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
4．转大火，放入鸡块炒至鸡肉约七分熟；
5．放入1中的汤汁煮开，再转小火煮45分钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>47</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>41</integer>
				<key>amount</key>
				<string>6</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>24</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>48</integer>
				<key>amount</key>
				<string>4</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>49</integer>
				<key>amount</key>
				<string>4</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>50</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>20</integer>
				<key>amount</key>
				<string>7</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>25</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>450</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>35</integer>
		<key>name</key>
		<string>首乌炖鸡</string>
		<key>image</key>
		<string>35.png</string>
		<key>desc</key>
		<string>补肝，益肾，养血，美颜等。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净；
2．麻油以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
3．转大火，将鸡块倒入炒至7分熟；
4．加入何首乌、龙眼肉、枸杞及月子水煮开后，转小火煮35分钟即可。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>47</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>21</integer>
				<key>amount</key>
				<string>3</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>28</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>amount</key>
				<string>8</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>36</integer>
		<key>name</key>
		<string>山药炖鸡</string>
		<key>image</key>
		<string>36.png</string>
		<key>desc</key>
		<string>补肾强腰，滋阴养颜，调节肠胃。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净沥干；
2．鸡肉洗净切块，山药洗净切成小块；
3．将油倒入锅中大火烧热，转小火，放入老姜爆至褐色，但不要焦黑；
4．转大火，放入鸡块炒至鸡肉约七分熟；
5．加入月子水、山药同煮，加盖煮滚后，转小火煮45分钟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>47</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>19</integer>
				<key>amount</key>
				<string>80</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>7</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>37</integer>
		<key>name</key>
		<string>竹荪干贝鸡</string>
		<key>image</key>
		<string>37.png</string>
		<key>desc</key>
		<string>调整体质，恢复体力。</string>
		<key>cookMethod</key>
		<string>
1．鸡肉洗净切成块状，老姜洗净切成薄片；
2．麻油以大火烧热，放入姜片后改转小火爆至褐色，但不能焦黑；
3．转大火，放入鸡块炒至鸡肉约七分熟；
4．加入月子水、竹荪、干贝同煮，加盖煮滚后，转小火煮30分钟即可。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>47</integer>
				<key>amount</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>13</integer>
				<key>amount</key>
				<string>7</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>12</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>7</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>38</integer>
		<key>name</key>
		<string>花生猪脚</string>
		<key>image</key>
		<string>38.png</string>
		<key>desc</key>
		<string>到了第三周奶水不足或清淡的产妇，可适量食用花生猪脚来补充奶源。</string>
		<key>cookMethod</key>
		<string>
1．香菇要泡在十倍量的月子水中泡软、切丝备用；
2．花生放入水中滚开，稍凉乘热浆膜去掉剥成两半，去掉胚芽；
3．麻油加热后，放入老姜爆透，取出备用；
4．将猪脚放入锅内炒至外皮变色为止取出备用；
5．放入花生炒一会儿，放入猪脚、老姜，最后加香菇、虾及月子水；
6．加盖烧滚后，装入炖锅慢炖约4小时。

		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>52</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>44</integer>
				<key>amount</key>
				<string>25</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>53</integer>
				<key>amount</key>
				<string>150</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>10</integer>
				<key>amount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>45</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>39</integer>
		<key>name</key>
		<string>血母痛液</string>
		<key>image</key>
		<string>39.png</string>
		<key>desc</key>
		<string>产后若有子宫凝血且肚子会痛的人,可服用血母痛液来改善。</string>
		<key>cookMethod</key>
		<string>
1．将山楂肉与月子水以大火煮开后,加盖改以小火炖30分钟
2．将汤滤出,改以不加盖的锅子,大火继续滚至600ml
3.加入红糖搅拌后熄火即可
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>29</integer>
				<key>amount</key>
				<string>300</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>9</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>1000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>40</integer>
		<key>name</key>
		<string>银耳莲子羹</string>
		<key>image</key>
		<string>40.png</string>
		<key>desc</key>
		<string>滋阴润肺,补脾安神。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净沥干
2．将银耳,莲子在月子水中浸泡1小时
3.将泡好的银子,莲子连带月子水一起倒入锅中放入红枣和枸杞
4.大火煮开转小火45分钟
5.放入红糖,熄火趁热吃
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>15</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>14</integer>
				<key>amount</key>
				<string>15</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>20</integer>
				<key>amount</key>
				<string>7</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>600</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>41</integer>
		<key>name</key>
		<string>生化汤</string>
		<key>image</key>
		<string>41.png</string>
		<key>desc</key>
		<string>1/3碗</string>
		<key>cookMethod</key>
		<string>
		      1.直接用开水泡1碗.
		  </string>
		<key>materialList</key>
		<array/>
	</dict>
	<dict>
		<key>ID</key>
		<integer>42</integer>
		<key>name</key>
		<string>妇宝</string>
		<key>image</key>
		<string>42.png</string>
		<key>desc</key>
		<string></string>
		<key>cookMethod</key>
		<string>
1．将桂圆肉和枸杞与月子水放入不锈钢锅泡1小时再以大火煮5分钟左右;
2.约剩300毫升关火.
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>21</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>11</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>350</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>45</integer>
		<key>name</key>
		<string>月子饮料</string>
		<key>image</key>
		<string>44.png</string>
		<key>desc</key>
		<string>解烦止渴,健胃消食,减轻子宫收缩时的腹疼</string>
		<key>cookMethod</key>
		<string>
1.将干山楂,荔枝壳,观音串加入月子水中
2.大火煮开后,加盖转小火煮10-15分钟,约剩600毫升
3.将汤滤出倒入容器,放入适量的红糖搅拌均匀,冷却后放入冰箱冷藏
注意--喝时需要加热,一日约600毫升
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>29</integer>
				<key>amount</key>
				<string>50</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>30</integer>
				<key>amount</key>
				<string>20</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>31</integer>
				<key>amount</key>
				<string>20</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>9</integer>
				<key>amount</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>800</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>46</integer>
		<key>name</key>
		<string>十全鱼汤</string>
		<key>image</key>
		<string>46.png</string>
		<key>desc</key>
		<string>补气养血。</string>
		<key>cookMethod</key>
		<string>
1．将材料洗净；
2．麻油以大火烧热，放入老姜片后改转小火爆至褐色，但不能焦黑；
3．放入鱼肉、十全包、月子水用大火煮开，转小火，加盖煮10分钟后熄火，即可享用。
		  </string>
		<key>materialList</key>
		<array>
			<dict>
				<key>ID</key>
				<integer>37</integer>
				<key>amount</key>
				<string>120</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>17</integer>
				<key>amount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>21</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>24</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>48</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>23</integer>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>amount</key>
				<string>35</string>
			</dict>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>amount</key>
				<string>350</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<integer>47</integer>
		<key>name</key>
		<string>水果</string>
		<key>image</key>
		<string>47.png</string>
		<key>desc</key>
		<string>葡萄,龙眼,荔枝,桃子,提子,木瓜,李子 </string>
		<key>cookMethod</key>
		<string>
		  </string>
		<key>materialList</key>
		<array/>
	</dict>
</array>
</plist>
