<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>1</integer>
	      <key>name</key>
		<string>红豆</string>
	      <key>image</key>
		<string>1.jpg</string>
		  <key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>2</integer>
	    <key>name</key>
		<string>糯米</string>
	    <key>image</key>
		<string>2.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>杯</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>3</integer>
	    <key>name</key>
		<string>玉米渣</string>
	    <key>image</key>
		<string>3.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>4</integer>
	    <key>name</key>
		<string>燕麦片</string>
	    <key>image</key>
		<string>4.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>杯</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>5</integer>
	    <key>name</key>
		<string>黑米</string>
	    <key>image</key>
		<string>5.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>杯</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>6</integer>
	    <key>name</key>
		<string>小米</string>
	    <key>image</key>
		<string>6.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>杯</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>7</integer>
	    <key>name</key>
		<string>糙米</string>
	    <key>image</key>
		<string>7.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>杯</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>8</integer>
	    <key>name</key>
		<string>薏仁</string>
	    <key>image</key>
		<string>8.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>杯</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>9</integer>
	    <key>name</key>
		<string>红糖</string>
	    <key>image</key>
		<string>9.jpg</string>
		<key>desc</key>
		<string></string>
		
	</dict>
	<dict>
		<key>ID</key>
		<integer>10</integer>
	    <key>name</key>
		<string>红菇</string>
	    <key>image</key>
		<string>10.jpg</string>
		<key>desc</key>
		<string></string>
		
	</dict>
	<dict>
		<key>ID</key>
		<integer>11</integer>
	    <key>name</key>
		<string>枸杞</string>
	    <key>image</key>
		<string>11.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>粒</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>12</integer>
	    <key>name</key>
		<string>干贝</string>
	    <key>image</key>
		<string>12.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>粒</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>13</integer>
	    <key>name</key>
		<string>竹荪</string>
	    <key>image</key>
		<string>13.jpg</string>
		<key>desc</key>
		<string></string>
		
	</dict>
	<dict>
		<key>ID</key>
		<integer>14</integer>
	    <key>name</key>
		<string>莲子</string>
	    <key>image</key>
		<string>14.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>颗</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>15</integer>
	    <key>name</key>
		<string>银耳</string>
	    <key>image</key>
		<string>15.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>朵</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>16</integer>
	    <key>name</key>
		<string>芡实</string>
	    <key>image</key>
		<string>16.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>17</integer>
	    <key>name</key>
		<string>老姜</string>
	    <key>image</key>
		<string>17.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>片</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>18</integer>
	    <key>name</key>
		<string>大蒜</string>
	    <key>image</key>
		<string>18.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>19</integer>
	    <key>name</key>
		<string>山药</string>
	    <key>image</key>
		<string>19.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>20</integer>
	    <key>name</key>
		<string>红枣</string>
	    <key>image</key>
		<string>20.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>粒</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>21</integer>
	    <key>name</key>
		<string>桂圆肉</string>
	    <key>image</key>
		<string>21.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>片</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>22</integer>
	    <key>name</key>
		<string>黑木耳</string>
	    <key>image</key>
		<string>22.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>23</integer>
	    <key>name</key>
		<string>当归</string>
	    <key>image</key>
		<string>23.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>24</integer>
	    <key>name</key>
		<string>黄芪</string>
	    <key>image</key>
		<string>24.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>25</integer>
	    <key>name</key>
		<string>茯苓</string>
	    <key>image</key>
		<string>25.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>26</integer>
	    <key>name</key>
		<string>淮山药</string>
	    <key>image</key>
		<string>26.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>27</integer>
	    <key>name</key>
		<string>杜仲</string>
	    <key>image</key>
		<string>27.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>28</integer>
	    <key>name</key>
		<string>何首乌</string>
	    <key>image</key>
		<string>28.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>29</integer>
	    <key>name</key>
		<string>干山楂</string>
	    <key>image</key>
		<string>29.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>30</integer>
	    <key>name</key>
		<string>观音串</string>
	    <key>image</key>
		<string>30.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>31</integer>
	    <key>name</key>
		<string>荔枝壳</string>
	    <key>image</key>
		<string>31.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>33</integer>
	    <key>name</key>
		<string>月子水</string>
	    <key>image</key>
		<string>33.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>毫升</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>34</integer>
	    <key>name</key>
		<string>猪肝</string>
	    <key>image</key>
		<string>34.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
	</dict>
	<dict>
		<key>ID</key>
		<integer>35</integer>
	    <key>name</key>
		<string>胡麻油</string>
	    <key>image</key>
		<string>35.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>毫升</string>
		
	</dict>
	<dict>
		<key>ID</key>
		<integer>36</integer>
	    <key>name</key>
		<string>白米</string>
	    <key>image</key>
		<string>36.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>杯</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>37</integer>
	    <key>name</key>
		<string>鱼</string>
	    <key>image</key>
		<string>37.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
	</dict>
	<dict>
		<key>ID</key>
		<integer>38</integer>
	    <key>name</key>
		<string>排骨</string>
	    <key>image</key>
		<string>38.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
	</dict>
	<dict>
		<key>ID</key>
		<integer>39</integer>
	    <key>name</key>
		<string>素炖品</string>
	    <key>image</key>
		<string>39.jpg</string>
		<key>desc</key>
		<string>仿荤素食品,如素鸡,素鸭,素鱼等</string>
		<key>unit</key>
		<string>袋</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>40</integer>
	    <key>name</key>
		<string>猪腰</string>
	    <key>image</key>
		<string>40.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
		<key>unit</key>
		<string>个</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>41</integer>
	    <key>name</key>
		<string>党参</string>
	    <key>image</key>
		<string>41.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>42</integer>
	    <key>name</key>
		<string>胡萝卜</string>
	    <key>image</key>
		<string>42.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
	</dict>
	<dict>
		<key>ID</key>
		<integer>43</integer>
	    <key>name</key>
		<string>五花肉</string>
	    <key>image</key>
		<string>43.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
	</dict>
	<dict>
		<key>ID</key>
		<integer>44</integer>
	    <key>name</key>
		<string>虾米</string>
	    <key>image</key>
		<string>44.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>45</integer>
	    <key>name</key>
		<string>猪心</string>
	    <key>image</key>
		<string>45.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
	</dict>
	<dict>
		<key>ID</key>
		<integer>46</integer>
	    <key>name</key>
		<string>时令蔬菜</string>
	    <key>image</key>
		<string>46.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
	</dict>
	<dict>
		<key>ID</key>
		<integer>47</integer>
	    <key>name</key>
		<string>土鸡</string>
	    <key>image</key>
		<string>47.jpg</string>
		<key>desc</key>
		<string></string>
		<key>unit</key>
		<string>只</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>48</integer>
	    <key>name</key>
		<string>甘草</string>
	    <key>image</key>
		<string>48.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>49</integer>
	    <key>name</key>
		<string>陈皮</string>
	    <key>image</key>
		<string>49.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>50</integer>
	    <key>name</key>
		<string>升麻</string>
	    <key>image</key>
		<string>50.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>52</integer>
	    <key>name</key>
		<string>花生</string>
	    <key>image</key>
		<string>52.jpg</string>
		<key>desc</key>
		<string></string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>53</integer>
	    <key>name</key>
		<string>猪脚</string>
	    <key>image</key>
		<string>53.jpg</string>
		<key>desc</key>
		<string></string>
		<key>tobuy</key>
		<true/>
	</dict></array>
</plist>
